body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style pour la fenêtre modale de bienvenue */
.welcome-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./HCTE/image2.png') no-repeat center center / cover;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenu de la fenêtre modale */
.welcome-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Conteneur d'images dans la fenêtre modale */
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* En-tête de la page */
header {
    background-color: #008d40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation */
nav {
    margin: 20px 0;
    text-align: center;
}

.nav-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    color: #008d40;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

/* Section principale */
main {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Boutons généraux */
button {
    background-color: #f0a500;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
}

button:hover {
    background-color: #e09000;
    transform: translateY(-2px);
}

/* Tableaux */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Section des publicités */
.publicite {
    background-color: #e0ffe0;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #008d40;
    margin-top: 20px;
    border-radius: 5px;
}

/* Section pour afficher les publicités */
#ad-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

/* Conteneur pour afficher les publicités */
#ad-display {
    margin-top: 10px;
}

/* Style pour chaque publicité */
#ad-display div {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    border-radius: 8px;
}

/* Style pour les images et vidéos dans les publicités */
#ad-display img,
#ad-display video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Liste des demandeurs */
#demandeurs-list {
    margin-top: 20px;
}
