body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.welcome-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./HCTE/image2.png') no-repeat center center / cover;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.welcome-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.image-container {
    display: flex; /* Utilise Flexbox */
    justify-content: center; /* Centre l'image horizontalement */
    margin-bottom: 20px; /* Espacement en bas de l'image */
}

.publicite {
    background-color: #e0ffe0;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #008d40;
    margin-top: 20px;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #008d40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    margin: 20px 0;
    text-align: center;
}

.nav-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    color: #008d40;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

main {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #f0a500;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
}

button:hover {
    background-color: #e09000;
    transform: translateY(-2px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

#demandeurs-list {
    margin-top: 20px;
}

#ad-section {
    margin-top: 20px;
}

#ad-display {
    margin-top: 10px;
}
